body {
  font-family: Arial, sans-serif;
  background-color: rgb(37, 38, 41);
  margin: 0;
  padding: 2rem;
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(204, 208, 214);
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

input {
  display: block;
  width: 100%;
  padding: 0.6rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background-color: #40739e;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #2f3640;
}

p {
  margin-top: 1rem;
}
.erro {
  color: red;
  font-weight: bold;
}
